# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml
release.properties
.releaserc.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Spring Boot
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Build
/build/
/dist/
*.class
*.jar
*.war
*.nar
*.ear

# Logs
*.log
logs/
/log/

# OS
Thumbs.db
.DS_Store